<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.bytesizebook.com.guide.boot"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=com.study"/>
        <listEntry value="artifactId=java_study"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.study.java_study"/>
        <listEntry value="outputDirectory=C:\korea_1_iot_java_workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\USER\AppData\Local\Temp\m2e-archetypeGenerator15516645536678717717"/>
</launchConfiguration>
